.usernavigation {
    position: relative;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
    width: 5em;
    /* color: #72809d; */
    padding-top: 0.5em;
    align-self: flex-end;
    left: 90%;
}
.user-avatar {
    /* background-color: #72809d; */
    background: #D8D8D8;
    border-radius: 50%;
    width: 1.2em;
    /* height: 1em; */
    padding-left: 0.25em;
}
.user-action {
    margin-left: -1.5em;
}