 .board {
     width: 75vw;
     font-size: 0.9em;
     font-family: 'Open Sans', sans-serif;     
     border-radius: 0.5em;
     box-shadow: 0.3em 0.3em 0.2em rgb(210, 214, 214);
     box-shadow: 0.3em 0.3em 0.2em rgb(233, 236, 236);
    }
.no-repo {
    font-size: 1.5em;
    color: #9696a0;    
    font-family: 'Quicksand', sans-serif;    
    /* font-family: 'Open Sans', sans-serif;    box-shadow: 0.3em 0.3em 0.2em rgb(210, 214, 214); */
}
