.banner {
    width: 75vw;
    font-size: 0.9em;
    border-radius: 0.5em;
    font-family: 'Open Sans', sans-serif;    
    margin-bottom: 1em;
}
.dashboard-top {
    display: flex;
    justify-content: space-around;
  }

